h1 {
  font-weight: 500 !important;
  font-size: 60px !important;
  margin-bottom: 0px !important;
}

[data-md-color-scheme="dark-mode"] {
  --md-hue: 25;
  --md-default-bg-color: hsla(var(--md-hue), 5%, 21%, 1);
  --md-default-fg-color: hsla(var(--md-hue), 0%, 95%, 1);
  --md-default-fg-color--light: hsla(var(--md-hue), 0%, 95%, 1);
  --md-code-hl-color: rgba(66, 135, 255, .15);
  --md-code-fg-color: white;
  --md-code-bg-color: hsla(var(--md-hue), 5%, 15%, 1);
  --md-code-hl-number-color: #e6695b;
  --md-code-hl-special-color: #f06090;
  --md-code-hl-function-color: #c973d9;
  --md-code-hl-constant-color: #9383e2;
  --md-code-hl-keyword-color: #6791e0;
  --md-code-hl-string-color: #2fb170;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-footer-bg-color: hsla(var(--md-hue),15%,12%,0.87);
  --md-footer-bg-color--dark: hsla(var(--md-hue),15%,10%,1);
}
